{% extends "invoice/base/base.html" %}
{% load i18n %}
{% load static %}

{#{% block head_script %}#}
{#    <script type="module" src="{% static 'js/calculate.js' %}"></script>#}
{#{% endblock %}#}


{% block content %}

    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>

    <!-- CUSTOMER COLLECTION CARD -->
    <!-- Card Header - Dropdown -->
    <div class="card-header">
        <a data-toggle="collapse" href="#customer-collection" aria-expanded="true"
           aria-controls="collapse-example" id="invoice-collection-heading" class="d-block">
            <label class="m-0 font-weight-bold text-primary">Customer</label>
            <i class="fa fa-chevron-down pull-left" style="font-size:16px"></i>
        </a>
    </div>
    {% load render_form from formsetify %}
    <!-- CUSTOMER COLLECTION FORM -->
    <div id="#customer-colllection" class="card-body collapse show" >
        <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
            {{ form_collection }}

            {% if add %}
                <button type="button"
                        click="submit({add: true}) -> proceed">{% translate "Add" %}</button>
            {% else %}
                <button type="button"
                        click="submit({update: true}) -> proceed">{% translate "Update" %}</button>
                <button type="button"
                        click="submit({delete: true}) -> proceed">{% translate "Delete" %}</button>
            {% endif %}

        </django-formset>
    </div>


{% endblock %}