{% extends "invoice/base/base.html" %}
{% load i18n %}
{% load static %}

{#{% block head_script %}#}
{#    <script type="module" src="{% static 'js/calculate.js' %}"></script>#}
{#{% endblock %}#}


{% block content %}

    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>

    <!-- INVOICE COLLECTION CARD -->
    <!-- Card Header - Dropdown -->
    <div class="card-header">
        <a data-toggle="collapse" href="#invoice-collection-info" aria-expanded="true"
           aria-controls="collapse-example" id="invoice-collection-heading" class="d-block">
            <label class="m-0 font-weight-bold text-primary">Invoice</label>
            <i class="fa fa-chevron-down pull-left" style="font-size:16px"></i>
        </a>
    </div>
    {% load render_form from formsetify %}
    <!-- INVOICE COLLECTION FORM -->
    <div id="#invoice-colllection-info" class="card-body collapse show" >
        <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
            {{ form_collection }}

            {% if add %}
                <button type="button"
                        df-click="submit({add: true}) -> proceed">{% translate "Add" %}</button>
            {% else %}
                <button type="button"
                        df-click="submit({update: true}) -> proceed">{% translate "Update" %}</button>
                <button type="button"
                        df-click="submit({delete: true}) -> proceed">{% translate "Delete" %}</button>
            {% endif %}

        </django-formset>
    </div>


{% endblock %}

{% block custom_js %}
    <script>
        function calculateTax() {
            var subtotal = parseFloat(document.getElementById('subtotal').value);
            var taxRate = 0.0775;
            var tax = subtotal * taxRate;
            document.getElementById('tax').value = tax.toFixed(2);
            var total = subtotal + tax
            document.getElementById('total').value = total.toFixed(2)
        };

        function calculateBalance() {
            var total = parseFloat(document.getElementById('total').value);
            var deposit = parseFloat(document.getElementById('deposit').value);
            var balance = total - deposit;
            document.getElementById('balance').value = balance.toFixed(2);
        };

        function calculateSubTotal() {
            var all_total = document.getElementsByName('prod_total');
            var subtotal = 0;
            for (let i = 0; i < all_total.length; i++) {
                subtotal += parseFloat(all_total[i].value)
                document.getElementById('subtotal').value = subtotal.toFixed(2)
            }
        };

        function addDecimal() {
            var all_price = document.getElementsByName('price');
            var len = all_price.length;
            for (let i = 0; i < len; i++) {
                var price = parseFloat(all_price[i].value);
                all_price[i].value = price.toFixed(2);
            }
        };

        function addDecimalToDeposit() {
            var deposit = parseFloat(document.getElementById('deposit').value);
            document.getElementById('deposit').value = deposit.toFixed(2);
        };
{#TODO: move calculateProductTotal() to product detail template#}
        function calculateProductTotal() {
            var all_qty = document.getElementsByName('qty');
            var all_price = document.getElementsByName('price');
            var all_total = document.getElementsByName('prod_total');
            var len = all_qty.length;

            for (let i = 0; i < len; i++) {
                var total = parseFloat(all_qty[i].value) * parseFloat(all_price[i].value);
                all_total[i].value = total.toFixed(2);
                calculateSubTotal();
                calculateTax();
                calculateBalance();
            }
        };
    </script>
{% endblock %}